services:
  rsc-web:
    image: ghcr.io/musawenkos/rsc-web:latest
    build:
      context: .
      dockerfile: src/RoadSignCapture.Web/Dockerfile
    ports:
      - "5050:5050"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5050
      - AzureAd__ClientId=${AZ_CLIENTID}
      - AzureAd__ClientSecret=${AZ_CLIENT_SECRET}
      - AzureAd__Domain=${AZ_DOMAIN}
      - AzureAd__TenantId=${AZ_TENANTID}
      - AzureAd__CallbackPath=${AZ_CALLBACK_PATH}
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - AzureAd__Instance=${AZ_INSTANCE}
      - MicrosoftGraph__BaseUrl=${MG_BASE_URL}
      - MicrosoftGraph__Scopes=${SCOPES}
      - API_BASE_URL=http://rsc-api:5040
      - Redis__Host=${REDIS_HOST}
      - Redis__Port=${REDIS_PORT}
      - Elasticsearch__Uri=https://es01:9200
      - Elasticsearch__Username=elastic
      - Elasticsearch__Password=${ELASTIC_PASSWORD}
    depends_on:
      - rsc-db
      - rsc-redis
    networks:
      - rsc-network

  rsc-api:
    image: ghcr.io/musawenkosi/rsc-api:latest
    build:
      context: .
      dockerfile: src/RoadSignCapture.API/Dockerfile
    ports:
      - "5040:5040"
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
    - ASPNETCORE_URLS=http://+:5040
    - Redis__Host=${REDIS_HOST}
    - Redis__Port=${REDIS_PORT}
    - Elasticsearch__Uri=https://es01:9200
    - Elasticsearch__Username=elastic
    - Elasticsearch__Password=${ELASTIC_PASSWORD}
    depends_on:
    - rsc-db
    - rsc-redis
    networks:
    - rsc-network

  rsc-db:
    container_name: rsc-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "${DB_SA_PASSWORD}"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserverdata:/var/opt/mssql
    networks:
      - rsc-network

  rsc-redis:
    image: redis:7.2
    container_name: rsc-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - rsc-network

  setup:
    image: docker.elastic.co/elasticsearch/elasticsearch-wolfi:9.2.0
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
    user: "0"
    command: >
      bash -c '
        if [ x${ELASTIC_PASSWORD} == x ]; then
          echo "Set the ELASTIC_PASSWORD environment variable in the .env file";
          exit 1;
        elif [ x${KIBANA_PASSWORD} == x ]; then
          echo "Set the KIBANA_PASSWORD environment variable in the .env file";
          exit 1;
        fi;
        if [ ! -f config/certs/ca.zip ]; then
          echo "Creating CA";
          bin/elasticsearch-certutil ca --silent --pem -out config/certs/ca.zip;
          unzip config/certs/ca.zip -d config/certs;
        fi;
        if [ ! -f config/certs/certs.zip ]; then
          echo "Creating certs";
          echo -ne \
          "instances:\n"\
          "  - name: es01\n"\
          "    dns:\n"\
          "      - es01\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: kibana\n"\
          "    dns:\n"\
          "      - kibana\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          > config/certs/instances.yml;
          bin/elasticsearch-certutil cert --silent --pem -out config/certs/certs.zip --in config/certs/instances.yml --ca-cert config/certs/ca/ca.crt --ca-key config/certs/ca/ca.key;
          unzip config/certs/certs.zip -d config/certs;
        fi;
        echo "Setting file permissions"
        chown -R root:root config/certs;
        find . -type d -exec chmod 750 \{\} \;;
        find . -type f -exec chmod 640 \{\} \;;
        echo "Waiting for Elasticsearch availability";
        until curl -s --cacert config/certs/ca/ca.crt https://es01:9200 | grep -q "missing authentication credentials"; do sleep 30; done;
        echo "Setting kibana_system password";
        until curl -s -X POST --cacert config/certs/ca/ca.crt -u "elastic:${ELASTIC_PASSWORD}" -H "Content-Type: application/json" https://es01:9200/_security/user/kibana_system/_password -d "{\"password\":\"${KIBANA_PASSWORD}\"}" | grep -q "^{}"; do sleep 10; done;
        echo "All done!";
      '
    healthcheck:
      test: ["CMD-SHELL", "[ -f config/certs/es01/es01.crt ]"]
      interval: 1s
      timeout: 5s
      retries: 120  

  es01:
    depends_on:
      setup:
        condition: service_healthy 
    image: docker.elastic.co/elasticsearch/elasticsearch-wolfi:9.2.0
    container_name: es01
    labels:
      co.elastic.logs/module: elasticsearch
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms256m -Xmx512m"
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD} 
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key=certs/es01/es01.key
      - xpack.security.http.ssl.certificate=certs/es01/es01.crt
      - xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.key=certs/es01/es01.key
      - xpack.security.transport.ssl.certificate=certs/es01/es01.crt
      - xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.license.self_generated.type=${LICENSE}
    mem_limit: ${ES_MEM_LIMIT}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
      - esdata01:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s --cacert config/certs/ca/ca.crt https://es01:9200 | grep -q 'missing authentication credentials'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120
    networks:
      - rsc-network

  kib01:
    depends_on:
     es01:
       condition: service_healthy
    image: docker.elastic.co/kibana/kibana:9.2.0
    container_name: kib01
    environment:
      - SERVER_NAME=kibana
      - ELASTICSEARCH_HOSTS=https://es01:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca/ca.crt
      - XPACK_SECURITY_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_REPORTING_ENCRYPTIONKEY=${ENCRYPTION_KEY}
    mem_limit: ${KB_MEM_LIMIT}
    ports:
      - "5601:5601"
    volumes:
      - certs:/usr/share/kibana/config/certs
      - kibanadata:/usr/share/kibana/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120
    networks:
      - rsc-network

volumes:
  sqlserverdata:
  redis_data:
  esdata01:
    driver: local
  certs:
    driver: local
  kibanadata:
   driver: local

networks:
  rsc-network:
    driver: bridge
