@page
@model RoadSignCapture.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Road Sign Capture</h1>
    <p>Please log in to continue</p>
</div>